name: "Frontend: Build"

defaults:
  run:
    working-directory: "frontend"

on:
  workflow_dispatch: ~
  pull_request:
    paths:
      - ".github/workflows/frontend.build-image.yaml"
      - "frontend/**"
  push:
    paths:
      - ".github/workflows/frontend.build-image.yaml"
      - ".github/workflows/frontend.deploy.yaml"
      - "frontend/**"
    tags:
      - 'frontend-v*'
    branches:
      - "main"

jobs:
  build:
    name: "Build Image"
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    env:
      DOCKER_IMAGE_NAME: "joshlopes/ricardo-avaliacao-frontend"

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Extract Tag Name or SHA for Main Branch
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/frontend-v')
        id: tag
        run: |
          FULL_TAG="${{ github.ref }}"
          # Replace slashes with hyphens and remove 'refs/tags/frontend-' prefix
          SANITIZED_TAG="${FULL_TAG/refs\/heads\//}"
          SANITIZED_TAG="${SANITIZED_TAG/refs\/tags\/frontend-/}"
          SANITIZED_TAG="${SANITIZED_TAG/\//-}"
          if [ -z "$SANITIZED_TAG" ] || [ "$SANITIZED_TAG" == "main" ]; then
            SANITIZED_TAG="latest"
          fi
          echo "Sanitized Tag Name: $SANITIZED_TAG"
          echo "::set-output name=tag::$SANITIZED_TAG"

      - name: Set SHA for Pull Request
        if: github.event_name == 'pull_request'
        id: sha
        run: |
          echo "SHA: ${{ github.sha }}"
          echo "::set-output name=sha::${{ github.sha }}"

      - name: Log in to Docker Hub
        uses: docker/login-action@7ca345011ac4304463197fac0e56eab1bc7e6af0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@8e1d5461f02b7886d3c1a774bfbd873650445aa2
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991
        with:
          context: ./frontend
          file: ./frontend/docker/Dockerfile
          push: true
          provenance: false
          load: false
          tags: |
            ${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/frontend-v')) && format('{0}:{1}', env.DOCKER_IMAGE_NAME, steps.tag.outputs.tag) || '' }}
            ${{ github.event_name == 'pull_request' && format('{0}:pr-{1}', env.DOCKER_IMAGE_NAME, steps.sha.outputs.sha) || '' }}
            ${{ github.event_name == 'pull_request' && format('{0}:pr-{1}', env.DOCKER_IMAGE_NAME, github.event.pull_request.number) || '' }}
          labels: ${{ steps.meta.outputs.labels }}
